* {
    scroll-behavior: smooth;
}

@font-face {
    font-family: ChakraPetch;
    src: url("https://codefirst.iut.uca.fr/containers/j-baptistebottou-portfolio_bottou_jean-baptiste/other/ChakraPetch-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

a {
    color: white;
    text-decoration: none;
    font-family: ChakraPetch;
    border: solid seagreen 2px;
    padding: 5px 20px;
    border-radius: 20px/50%;
    transition: color 300ms;
}

#competences > a {
    padding: 0;
    border: none;
    color: seagreen;
}

a:hover {
    color: seagreen;
}

body {
    background-color: #202020;
    margin: 0;
    color: white;
}

body > header {
    background-color: #101010;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4%;
    border-bottom: solid 2px seagreen;
    margin-bottom: 4%;
}

header > h1 {
    font-family: ChakraPetch;
    font-size: 2vw;
    border: solid 2px seagreen;
    padding: 0 1vw;
    border-top: #101010;
    border-bottom: #101010;
}

header > nav {
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
    display: flex;
    flex-wrap: wrap;
}

#thebar {
    position: fixed;
    top: 5%;
    bottom: 5%;
    left: 2%;
    width: 2px;
    background-color: seagreen;
}

#thecircle {
    position: fixed;
    display: flex;
    left: 1.05%;
    top: 3.1%;
    height: 2vw;
    width: 2vw;
    background-color: #101010;
    border: solid 2px lightgray;
    border-radius: 50%/50%;
    transition: border-color 200ms;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

#thecircle img {
    height: 75%;
    width: auto;
    transition: transform 200ms;
}

#thecircle:hover {
    border-color: seagreen;
}

#thecircle:hover img {
    transform: scale(1.25);
}

#up-arrow {
    width: 100%;
    height: 80%;
}

#main-div section {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-div section header {
    background-color: #181818;
    padding: 25px 50px;
    margin-bottom: 2%;
    width: 100%;
    border-top: solid 1px seagreen;
    border-bottom: solid 1px seagreen;
    transition: background-color 300ms;
}

#main-div section a {
    border-color: lightgray;
    transition:
        border-color 300ms,
        color 300ms;
}

header h2 {
    font-family: ChakraPetch;
    font-size: large;
    border: solid 2px seagreen;
    padding: 0 15px;
    border-top: #101010;
    border-bottom: #101010;
}

section main {
    width: 100%;
    border-left: solid 2px lightgray;
    border-right: solid 2px lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 4%;
    transition: border-color 300ms;
}

#main-div section:hover header {
    background-color: #101010;
}

#main-div section:hover main {
    border-color: seagreen;
}

#main-div > section:hover > main img {
    filter: grayscale(0);
}

#main-div > section:hover a {
    border-color: seagreen;
}

#main-div > section:hover > main > div h2 {
    color: seagreen;
}

section > main img {
    filter: grayscale(0.8);
    transition: all 300ms ease;
}

section > main > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    width: 80%;
}

section > main > div > img {
    width: 100%;
}

p {
    width: 80%;
    text-align: justify;
    font-family: ChakraPetch;
    font-size: 1.5em;
}

div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#avatar {
    width: 20%;
}

#competences-imgs {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1em;
}

#competences-imgs img {
    height: 5vw;
}

main > div h2 {
    font-family: ChakraPetch;
    font-size: 2em;
    color: lightgray;
    transition: color 300ms;
}

figcaption {
    width: 100%;
    text-align: center;
    font-family: ChakraPetch;
    font-size: 1.2em;
}

figcaption img {
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    border-top: solid 2px seagreen;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: darkgray;
}

small {
    width: 100%;
    text-align: center;
}

.imgs-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#main-div > section:hover > main > div a {
    border-color: seagreen;
}

.imgs-gallery > div > a > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem / 1rem;
    transition: opacity 300ms ease;
}

.imgs-gallery > div {
    display: flex;
    align-items: stretch;
}

.imgs-gallery > div > a {
    border: 2px solid white;
    transition:
        border-color 300ms,
        color 300ms;
    border-radius: 1rem / 1rem;
    background-color: #101010;
    padding: 0;
    margin: 10px;
}

.imgs-gallery > div > a > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.imgs-gallery > div > a:hover img {
    opacity: 0.25;
}

#project_front_images_2 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 4%;
}

#project_front_images_3 {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 4%;
}

#project_front_images_2 img {
    width: 35%;
}

#project_front_images_3 .pc_screenshot {
    width: 25%;
}

#project_front_images_3 .mobile_screenshot {
    width: 8%;
}

.small-info {
    color: lightgray;
}
